[user]
	email = valesail7@gmail.com
	name = _kmz

[core]
	editor = $EDITOR

[alias]
    a = add --all
    c = commit
    st = status
	di = diff
    co = checkout
    up = pull --rebase=preserve
    g = grep --break --heading --line-number
    fa = fetch --all
    p = push
    pf = push -f
    hst = !git --no-pager log --color --pretty=format:'%C(yellow)%h%C(reset)%C(bold red)%d%C(reset) %s %C(black)— %an (%ad)%C(reset)' --relative-date | emojify | bat
	d = difftool

; [http]
;     # proxy = http://localhost:12708

; [https]
;     # proxy = http://localhost:12708

[color]
    diff = auto
    status = auto
    branch = auto

[push]
    default = simple

[merge]
    tool = vimdiff

[mergetool]
    keepBackup = false

[gui]
	fontui = -family Hack -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Hack -size 11 -weight normal -slant roman -underline 0 -overstrike 0

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# [url "git@github.com:"]
# 	insteadOf = https://github.com/

[include]
    path = ~/.gitconfig.local

[pull]
	rebase = true

# [credential "https://github.com"]
# 	helper = 
# 	helper = !/usr/bin/gh auth git-credential
# [credential "https://gist.github.com"]
# 	helper = 
# 	helper = !/usr/bin/gh auth git-credential
