
! Atomic Space MC
#define base1 #0F1419
#define base2 #141A20
#define base3 #6C7885
#define base4 #A3ACB7
#define acr50 #FB6F92
#define aco50 #C39720
#define acg50 #5AB220
#define acc50 #23B0A3
#define acb50 #27A7EC
#define acv50 #E66AFA
#define acr70 #EA92A4
#define aco70 #CBA65D
#define acg70 #78BC5C
#define acc70 #62BAB0
#define acb70 #6FB1E7
#define acv70 #D991E6

*.foreground  : base4
*.background  : base1
*.cursorColor : base4

*.color0  : base1
*.color1  : acr50
*.color2  : acg50
*.color3  : aco50
*.color4  : acb50
*.color5  : acv50
*.color6  : acc50
*.color7  : base3
*.color8  : base2
*.color9  : acr70
*.color10 : acg70
*.color11 : aco70
*.color12 : acb70
*.color13 : acv70
*.color14 : acc70
*.color15 : base4

! Manpage colors
*.colorIT : acr70
*.colorBD : acc70
*.colorUL : acb70

! XTerm
xterm*background  : base1
xterm*foreground  : base4
xterm*cursorColor : base4

xterm*color0  : base1
xterm*color1  : acr50
xterm*color2  : acg50
xterm*color3  : aco50
xterm*color4  : acb50
xterm*color5  : acv50
xterm*color6  : acc50
xterm*color7  : base3
xterm*color8  : base2
xterm*color9  : acr70
xterm*color10 : acg70
xterm*color11 : aco70
xterm*color12 : acb70
xterm*color13 : acv70
xterm*color14 : acc70
xterm*color15 : base4

xterm*colorIT : acr70
xterm*colorBD : acc70
xterm*colorUL : acb70

! Rofi colors       bg     fg     altbg  hlbg   hlfg
rofi.color-normal : base1, base4, base1, base2, acc50
rofi.color-urgent : base1, acg50, base2, base1, acc50
rofi.color-active : base1, acg50, base2, base2, acg50
rofi.color-window : base1, acc50, base3
rofi.bw           : 1

Xcursor.theme: Bibata-Modern-Ice
