# https://github.com/Karmenzind/
# vim:ft=snippets:

#snippet \d "<del>" b
#<del>${0:${VISUAL}}</del>
#endsnippet


snippet \u "<underline>" b
<u>${0:${VISUAL}}</u>
endsnippet


snippet mf "markdown fold" b
<details>
<summary>${1:click to unfold}</summary>

${0:${VISUAL}}
</details>
endsnippet

snippet mfcode "markdown fold: code" b
<details><summary>${1:click to unfold}</summary>
<pre><code><font size="4">
${0:${VISUAL}}
</font></code></pre></details>
endsnippet
