
snippet curdir "current dir path"
${0:CURDIR}=$(cd \`dirname \$0\`; pwd)
endsnippet

snippet sb "bash shebang" b
#!/usr/bin/env bash
endsnippet

snippet ford "for k v in dict" b
for ${2:k} in "${!${1:d}[@]}"; do
    # echo -e "$$2\t:\t${$1[$$2]}"
done
endsnippet

snippet dictz "[dict] key whose value is empty string or missing" b
[[ -z ${${1:d}[$${2:k}]} ]]
endsnippet

snippet dictz "[dict] key whose value is not empty" b
[[ -n ${${1:d}[$${2:k}]} ]]
endsnippet
